html, body {
  height: 100%;
  margin: 0;
}

#carousel-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #FFA07A, #00FFFF, #6B8E23, #9370DB);
  animation: background-colors 20s linear infinite;
}

#carousel {
  max-width: 100%;
  max-height: 100%;
}

@keyframes background-colors {
  0% {
    background-color: #FFA07A;
  }
  25% {
    background-color: #00FFFF;
  }
  50% {
    background-color: #6B8E23;
  }
  75% {
    background-color: #9370DB;
  }
  100% {
    background-color: #FFA07A;
  }
}
